{% extends 'base.html' %}
{% block title %}Admin Control{% endblock %}

{% block body %}

<script type="text/javascript">
    function confirmDelete(id, name) {
       if (confirm('Are you sure you want to remove the product?' + 
       	'\nProduct ID: ' + id +
       	'\nName: ' + name)) {
           return true;
       } else {
           return false;
       }
    }
</script>

<div class="container-fluid">
	{% include 'messages.html' %}
	<h4>
		Admin Control Panel:
	</h4>
	<div class="row">
		<div class="col-xs-4 col-sm-3 col-md-7">
            <div class="input-group"> <span class="input-group-addon">Filter Products</span>
                <input id="filter" type="text" class="form-control" placeholder="Type here...">
            </div>
    	</div>  
		<div class="col-md-3">
			<a href="{% url 'add_product' %}" class="btn btn-primary btn-md btn-block active" role="button">Add New Product</a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-8 col-sm-10 col-md-10">
	        <table class="table table-hover table-bordered" data-maintain-selected="true">
	            <thead>
		            <tr>
		             	<th>Product ID</th>
		               	<th>Name</th>
		               	<th>Price</th>
		               	<th>Type</th>
		               	<th></th><th></th>
		            </tr>
	            </thead>
	            <tbody class="searchable">
	        		{% if products %}
	            		{% for product in products %}
			                <tr>
			                    <th scope=row>{{ product.pk }}</th>
			                    <td>{{ product.name }}</td>
			                    <td>${{ product.price }}</td>
			                    <td>{{ product.type }}</td>
			                    <td>
			                    	<form action="{% url 'edit_product' %}" role="form" method="get" onsubmit="">
			                            <input class="hidden" id="product_id" type="text" name="product_id" value={{ product.id }}>
				                        <input type="submit" class="btn btn-warning btn-md btn-block active" role="button" onclick="" value="Edit Product">
				                    </form>
			                    </td>
			                    <td>
			                        <form action="{% url 'delete_product' %}" role="form" method="post" onsubmit="">
			                        	{% csrf_token %}
			                        	<input class="hidden" id="product_id" type="text" name="product_id" value={{ product.id }}>
			                        	<input type="submit" class="btn btn-danger btn-md btn-block active" role="button" onclick="return confirmDelete('{{ product.id }}', '{{ product.name }}')" value="Remove Product">
			                        </form>
			                    </td>
			                </tr>
	                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
	                {% endfor %}
	        	</tbody>
	       		{% endif %}
	        </table>
    	</div>
    </div>
</div>
{% endblock %}