{% extends 'navbar.html' %}
{% block products_active %}active{% endblock %}

{% block body %}

<div class="container-fluid">
    <!-- {% include 'messages.html' %} -->
    <div class="row">
        <!-- <div class="col-xs-4 col-sm-2 col-md-2">
            <h5>
                <b>Search Products</b><br>
                <div class="input-group"> <span class="input-group-addon"></span>
                    <input id="filter" type="text" class="form-control" placeholder="Type here...">
                </div>
            </h5>
        </div>   -->      
        <div class="col-xs-8 col-sm-10 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                <table class="table table-hover" data-maintain-selected="true">
                {% if products %}
                    {% for product in products %}
                        <tbody class="searchable">
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <a href="{% url 'detail' product.id %}">
                                        {% if product.image %}
                                            <img src="{{MEDIA_URL}}{{ product.image }}" class="img-responsive img-thumbnail">
                                        {% else %}
                                            <img src="{{MEDIA_URL}}default.jpg" class="img-responsive img-thumbnail">
                                        {% endif %}
                                        </a>
                                    </div>
                                    <div class="caption">
                                        <div class="col-lg-7">
                                            <h3>{{ product.name }}</h3>
                                            <h4>${{ product.price }}</h4>
                                            <!-- View Details -->
                                            <a href="{% url 'detail' product.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="display:none;">
                                {{ product.type }}
                            </td>
                        </tr>
                        </tbody>
                        {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12">
                        <h1>No Products</h1>
                    </div>
                {% endif %}
                </div>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
