<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sentiment | {% block title %}{% endblock %}</title>
    {% include 'css.html' %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Sentiment</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li class="{% block products_active %}{% endblock %}"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span>&nbsp; Products</a></li>
            </ul>
            {% if request.path = '/' %}
            <ul class="nav navbar-nav">
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group"> <span class="input-group-addon">Product Search</span>
                    <input id="filter" type="text" class="form-control" placeholder="Type here...">
                </div>
                </form>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp; View Cart
                    </a>
                </li>
                {% if request.user.is_staff %}
                <li>
                    <a href="{% url 'admin' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Admin
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav">
                <li class="{% block register_active %}{% endblock %}"><a href="{% url 'register' %}">Register</a></li>
                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'login_user' %}">Log In</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>