body {
    background: white url('../images/subtle_white_mini_waves.png');
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Lobster', cursive
}