{% extends 'base.html' %}
{% block title %}{{ product }}{% endblock %}
{% block products_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'detail' product.id %}">
                        {% if product.product_image %}
                            <img src="{{ product.product_image }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ product.name }} <small>{{ product.type }}</small></h1>
                    <h2>${{ product.price }}</h2>
                    <h3 style="margin-top:30px">Score: <big>{{ product.average_score }}</big>
                        {% if product.average_score != None %} / <small>10</small>{% endif %}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a Comment</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product }}">
                        {% include 'form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'create_review' product.id %}">Comment</a></li>
                <li role="presentation"><a href="#">Add to Cart</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}