{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block products_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'detail' product.id %}">
                        {% if product.image %}
                            <img src="{{MEDIA_URL}}{{ product.image }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ product.name }} <small>{{ product.type }}</small></h1>
                    <h2>${{ product.price }}</h2>
                    <h3 style="margin-top:30px">Score: <big>{{ product.average_score }}</big>
                        {% if product.average_score != None %} / <small>10</small>{% endif %}</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3><strong>Product Information</strong></h3>
                    <h4 style="margin-top: 20px">Description: </h4>
                    <h5><em>{{ product.product_desc }}</em></h5>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <h4 style="margin-top: 40px">Reviews</h4>
                    <table class="table" style="table-layout: fixed; width: 100%">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Comment</th>
                            <th>Rating <em style="color: grey">scale: 0 - 10(best)</em></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for review in product.review_set.all %}
                            <tr>
                                <td>{{ review.user }}</td>
                                <td style="word-wrap: break-word">{{ review.review_text }}</td>
                                <td>{{ review.score }}</td>
                                {% if review.flag = False %}
                                <td><a href="{% url 'flag_review' product.id review.id %}" class="btn btn-primary btn-sm btn-block" role="button">Flag Comment</a></td>
                                {% else %}
                                <td><button class="btn btn-primary btn-sm btn-block" disabled="disabled" role="button">Flagged For Review</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'create_review' product.id %}">Comment</a></li>
                <li role="presentation"><a href="#">Add to Cart</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}